/* CSS declarations go here */
body {
  margin: 0;
  background: #f6f6ef;
  color: #1d1d1d;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bookmarklet {
  border-radius: 5px;
  border: 1px solid #1d1d1d;
  padding: 3px;
}
header {
  background: #ff6600;
  overflow: hidden;
}
header h2 {
  float: left;
  margin: 10px;
}
header h2 a,
header h2 a:visited {
  color: #1d1d1d;
}
#login-buttons{
  margin: 10px;
  float: right;
}
ol {
  overflow: hidden;
  margin: 0;
  padding: 10px 20px 20px 40px;
}
