<template name="home">
  <ol>
      <h1>Vote on any GitHub issue or pull request</h1>
      <p>When viewing a GitHub issues page, change the host from <b>github.com</b> to <b>gitsup.com</b> to get a list that you can vote on.</p>
      <p>Or, drag this handy url swapping <b>bookmarklet</b> to your toolbar:
          <a class="bookmarklet" href="javascript:if(location.host.indexOf('gitsup.com') == -1){location.host='gitsup.com'}else{location.host='github.com'};">gitsup</a></p>
      <p>You can find the code on <a href="http://github.com/codingcoop/gitsup">GitHub</a>.  This project is inspired by <a href="http://pullup.io">pullup</a>, amongst other obvious things ;)</p>
  </ol>
</template>
